<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Exercise</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col *ngIf="(conceptToExerciseNext$ | async) as concept" size="12" size-sm="8" offset-sm="2">
                <app-term-prompt *ngIf="concept.exercise?.type.toString() === 'TERM_PROMPT'"
                                 (correctlyAnswered)="onAnswered($event)"
                                 [termPromptExercise]="concept.exercise"></app-term-prompt>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="answeredCorrectly && (conceptToExerciseNext$ | async) as concept" size="12" size-sm="8"
                     offset-sm="2">
                <ion-card>
                    <img height="200px" width="200px" src="./../../assets/approved.svg" alt="Correct"/>
                    <ion-card-header>
                        <ion-card-title>{{ concept.title }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>{{ concept.exercise.explanation }}</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="answeredCorrectly === false && (conceptToExerciseNext$ | async) as concept" size="12" size-sm="8"
                     offset-sm="2">
                <ion-card>
                    <img height="200px" width="200px" src="./../../assets/wrong_red_cross.svg" alt="Wrong"/>
                    <ion-card-header>
                        <ion-card-title>{{ concept.title }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>{{ concept.exercise.explanation }}</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
