<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="concept$ | async">
            <ion-button (click)="onMoreRequested($event)">
                <ion-icon name="more" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Exercise</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngIf="!(conceptKey$ | async)">
            <ion-col size="12" size-sm="8" offset-sm="2">
                <ion-card *ngIf="(mainConceptToStudy$ | async) as conceptToStudy">
                    <ion-card-header>
                        <ion-card-subtitle>You chose to study</ion-card-subtitle>
                        <ion-card-title>{{ conceptToStudy.title }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content
                            *ngIf="conceptToStudy.description">{{conceptToStudy.description}}</ion-card-content>
                    <ion-button expand="block" size="large" (click)="navigateToNextExercise()">Start Studying
                    </ion-button>
                    <ion-button expand="block" color="secondary" size="large" [routerLink]="['/concepts']">Choose Other
                        Concept
                    </ion-button>
                </ion-card>
                <ion-card *ngIf="!(mainConceptToStudy$ | async)">
                    <ion-card-header>
                        <ion-card-title>Pick a concept to Study</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>Before you can start exercising, you have to choose a concept.</ion-card-content>
                    <ion-button expand="block" size="large" [routerLink]="['/concepts']">Choose concept</ion-button>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="(concept$ | async) as concept">
            <ion-col size="12" size-sm="8" offset-sm="2">
                <app-exercise-type-unknown *ngIf="isCurrentExerciseTypeUnknown$ | async"
                                           (disableExerciseAndContinue)="disableCurrentExercise()"></app-exercise-type-unknown>
                <app-term-prompt *ngIf="concept.exercise?.type.toString() === 'TERM_PROMPT'"
                                 (correctlyAnswered)="onAnswered($event)"
                                 [termPromptExercise]="concept.exercise"
                                 [activated]="answeredCorrectly === undefined"></app-term-prompt>
                <app-multiple-response-question
                        *ngIf="concept.exercise?.type.toString() === 'MULTIPLE_RESPONSE_QUESTION'"
                        (correctlyAnswered)="onAnswered($event)"
                        [multipleResponseQuestion]="concept.exercise"
                        [activated]="answeredCorrectly === undefined"
                        [frontCodeSnippetMarkdown]="frontCodeSnippetMarkdown$ | async"></app-multiple-response-question>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="(answeredCorrectly !== undefined) && (concept$ | async) as concept">
            <ion-col size="12" size-sm="8"
                     offset-sm="2">
                <ion-card>
                    <img *ngIf="answeredCorrectly === true" height="200px" width="200px"
                         src="./../../assets/approved.svg"
                         alt="Correct"/>
                    <img *ngIf="answeredCorrectly === false" height="200px" width="200px"
                         src="./../../assets/wrong_red_cross.svg" alt="Wrong"/>
                    <ion-card-header>
                        <ion-card-title>{{ concept.title }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <app-explanation [exercise]="concept.exercise" [backCodeSnippetMarkdown]="backCodeSnippetMarkdown$ | async"></app-explanation>
                        <ion-button expand="block" size="large" (click)="navigateToNextExercise()">Continue</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
