<ion-card>
    <ion-card-header>
        <ion-card-subtitle>Disable exercise</ion-card-subtitle>
        <ion-card-title>Exercise Type Unknown</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        The current exercise type is not yet supported. Probably it is in development.
        It is recommended to disable this exercise and enable it in the settings once it works.
        <ion-button expand="block" size="large" (click)="onDisableExerciseAndContinue()">Disable Exercise</ion-button>
    </ion-card-content>

</ion-card>
