<form [formGroup]="exerciseForm" (ngSubmit)="submitAnswer()">
    <p>{{ multipleResponseQuestion.front }}</p>
    <markdown [data]="frontCodeSnippetMarkdown"></markdown>
    <ion-list formArrayName="responseOptions">
        <ion-item [color]="getColorForResponseOption(responseOptions[i])" *ngFor="let responseOption of responseOptionsFormArray.controls; let i=index">
            {{ responseOptions[i] }}
            <ion-checkbox slot="end" [formControlName]="i.toString()"></ion-checkbox>
        </ion-item>
    </ion-list>
    <ion-button *ngIf="activated" type="submit" color="primary" size="large" expand="block">
        Check Answer
    </ion-button>
</form>
