<ion-header>
    <ion-toolbar>
        <ion-title>Help for {{ title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onDismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-card *ngFor="let helpSection of helpSections">
            <ion-card-header>
                <ion-card-title>{{ helpSection.topic }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{ helpSection.helpText }}</ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
