<ion-header>
    <ion-toolbar>
        <ion-title>Settings</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/help']" [queryParams]="{ settings: true }">
                <ion-icon name="help" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngIf="!settingsForm">
            <ion-col size="12" size-sm="8" offset-sm="2">
                <app-spinner *ngIf="!settingsForm"></app-spinner>
            </ion-col>
        </ion-row>
        <form *ngIf="settingsForm" [formGroup]="settingsForm">
            <ion-row>
                <ion-col size="12" size-sm="8" offset-sm="2">
                    <ion-list>
                        <ion-list-header>
                            Cooldown Time
                        </ion-list-header>
                        <ion-item>
                            <ion-label>Days</ion-label>
                            <ion-select formControlName="days" okText="Set" cancelText="Dismiss"
                                        (ionChange)="updateSettings()">
                                <ion-select-option *ngFor="let value of getArrayWithNumbersFromZeroToN(14)"
                                                   value="{{ value }}">{{ value }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label>Hours</ion-label>
                            <ion-select formControlName="hours" okText="Set" cancelText="Dismiss"
                                        (ionChange)="updateSettings()">
                                <ion-select-option *ngFor="let value of getArrayWithNumbersFromZeroToN(23)"
                                                   value="{{ value }}">{{ value }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label>Minutes</ion-label>
                            <ion-select formControlName="minutes" okText="Set" cancelText="Dismiss"
                                        (ionChange)="updateSettings()">
                                <ion-select-option *ngFor="let value of getArrayWithNumbersFromZeroToN(59)"
                                                   value="{{ value }}">{{ value }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-sm="8" offset-sm="2">
                    <ion-list>
                        <ion-list-header>
                            Activated Exercise Types
                        </ion-list-header>
                        <ion-item>
                            <ion-label>Image Occlusion</ion-label>
                            <ion-toggle formControlName="imageOcclusionActivated" slot="end"
                                        (ionChange)="updateSettings()"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label>Multiple Response Question</ion-label>
                            <ion-toggle formControlName="multipleResponseQuestionActivated" slot="end"
                                        (ionChange)="updateSettings()"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label>Term Prompt</ion-label>
                            <ion-toggle formControlName="termPromptActivated" slot="end"
                                        (ionChange)="updateSettings()"></ion-toggle>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-sm="8" offset-sm="2">
                    <ion-list formArrayName="conceptKeysOfDisabledExercises">
                        <ion-list-header>
                            Deactivated Exercises
                        </ion-list-header>
                        <ion-item
                                *ngFor="let conceptKeyOfDisabledExercise of conceptKeysOfDisabledExercises.controls; let i=index">
                            <ion-icon (click)="conceptKeysOfDisabledExercises.removeAt(i); updateSettings();" slot="end"
                                      name="close"></ion-icon>
                            <ion-label>{{ conceptKeyOfDisabledExercise.value }}</ion-label>
                        </ion-item>
                        <ion-item *ngIf="conceptKeysOfDisabledExercises.length < 1">
                            <ion-label>Currently no specific exercises are disabled.</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-sm="8" offset-sm="2">
                    <ion-list>
                        <ion-list-header>
                            Advanced
                        </ion-list-header>
                        <ion-item>
                            <ion-label>Editor Mode</ion-label>
                            <ion-toggle formControlName="editorMode" slot="end"
                                        (ionChange)="updateSettings()"></ion-toggle>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-sm="8" offset-sm="2">
                    <ion-button expand="block" size="large" (click)="onClearConceptStateRequested()">
                        Clear Concept State
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
